<a href="https://colab.research.google.com/github/ShijinaS/ICT_Internship/blob/DAY-2/Day_2__assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a fruit list, [’banana’, ’orange’, ’mango’, ’lemon’] reverse the order using loop.

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']

for i in range(len(fruits)//2):
    temp = fruits[i]
    fruits[i] = fruits[-i-1]
    fruits[-i-1] = temp

print(fruits)

['lemon', 'mango', 'orange', 'banana']

Write a python program to print the first 10 numbers Fibonacci series

In [ ]:
a, b = 0, 1

for i in range(10):
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

Write a python program to print all prime numbers between 0 to 100 , and print how
many prime numbers are there.

In [ ]:

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True


count = 0
for i in range(0, 101):
    if is_prime(i):
        print(i)
        count += 1


print("There are", count, "prime numbers between 0 and 100.")

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
There are 25 prime numbers between 0 and 100.

Write a python program to read a number ,if it is an even number , print the square of that
number and if it is odd number print cube of that number

In [ ]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    square = number ** 2
    print("The square of", number, "is", square)
else:
    cube = number ** 3
    print("The cube of", number, "is", cube)

Enter a number: 45
The cube of 45 is 91125

Write a python program to find the longest word in a given sentence

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
longest_word = ""
for word in words:
    if len(word) > len(longest_word):
        longest_word = word
print("The longest word in the sentence is:", longest_word)

Enter a sentence: she is beautiful
The longest word in the sentence is: beautiful

 Finding the average of 5 numbers using while loop

In [ ]:
sum = 0
count = 0
while count < 5:
    num = float(input("Enter a number: "))
    sum += num
    count += 1
avg = sum / 5
print("The average of the 5 numbers is:", avg)

Enter a number: 50
Enter a number: 34
Enter a number: 12
Enter a number: 45
Enter a number: 17
The average of the 5 numbers is: 31.6

Python program to find the sum of the digits of an integer using while loop

In [ ]:
num = int(input("Enter an integer: "))
sum = 0
while num > 0:
    digit = num % 10    
    sum += digit        
    num //= 10          
print("The sum of the digits is:", sum)

Enter an integer: 12
The sum of the digits is: 3

 Arun took a loan of Rs1,00,000 at an interest of 5% to buy a car.
Using the formula: interest = principal value * rate and amount = principal + interest, print
the interest and amount to be paid for each of the next 5 years.

In [ ]:
principal = 100000
rate = 0.05
for i in range(1, 6):
    interest = principal * rate
    amount = principal + interest
    print("Year", i, "Interest:", interest, "Amount:", amount)
    principal = amount

Year 1 Interest: 5000.0 Amount: 105000.0
Year 2 Interest: 5250.0 Amount: 110250.0
Year 3 Interest: 5512.5 Amount: 115762.5
Year 4 Interest: 5788.125 Amount: 121550.625
Year 5 Interest: 6077.53125 Amount: 127628.15625

Using if loop, find out if the year 2034 and 2048 are leap years

In [ ]:
if 2034 % 4 == 0:
    if 2034 % 100 == 0:
        if 2034 % 400 == 0:
            print("2034 is a leap year")
        else:
            print("2034 is not a leap year")
    else:
        print("2034 is a leap year")
else:
    print("2034 is not a leap year")

if 2048 % 4 == 0:
    if 2048 % 100 == 0:
        if 2048 % 400 == 0:
            print("2048 is a leap year")
        else:
            print("2048 is not a leap year")
    else:
        print("2048 is a leap year")
else:
    print("2048 is not a leap year")

2034 is not a leap year
2048 is a leap year