<a href="https://colab.research.google.com/github/ShijinaS/ICT_Internship/blob/DAY-1/Ml_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
while a<10:
  print(a)
  a+=2

1
3
5
7
9

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print('select operation:')
print('1.addition:')
print('2.subtraction:')
print('3.division:')
print('4.multiplication:')
n=int(input('enter your option:'))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
  r=a-b
  print(r)
elif(n==3):
  r=a/b
  print(r)
elif(n==4):
  r=a*b
  print(r)
else:
    print('wrong input')

enter first number:6
enter second number:8
select operation:
1.addition:
2.subtraction:
3.division:
4.multiplication:
enter your option:4
48

In [ ]:
num = int(input("enter the number:"))
c=0
i=1
while(i<=num):
 if num%i==0:
   c=c+1
 i=i+1
if c==2:

        print( "number is prime")
else:
    print(" number is not a prime")

enter the number:1
 number is not a prime

In [ ]:
year=int(input("enter the number:"))
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
  print(" not leap year")

enter the number:2023
 not leap year

In [ ]:
a=int(input("enter the number:"))
s=0
for i in range(0,a+1):
  s=s+i
print("the sum is:",s)

enter the number:12
the sum is: 78

In [ ]:
def greet():
  print('hello')

In [ ]:
greet()

hello

In [ ]:
def addnumber(num1,num2):
  sum=num1+num2
  print(sum)

In [ ]:
addnumber(4,5)

9

In [ ]:
def squarenumber(num1):
 square =num1*num1
 print(square)
squarenumber(10)

100

In [ ]:
def sqr(a):
  print("square of the number is :" ,a*a)

n=int(input("enter the number:")) 
sqr(n)

enter the number:5
square of the number is : 25