<a href="https://colab.research.google.com/github/ShijinaS/ICT_Internship/blob/DAY-1/ML_AI_D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
while a<10:
  print(a)
  a+=2

1
3
5
7
9

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print('select operation:')
print('1.addition:')
print('2.subtraction:')
print('3.division:')
print('4.multiplication:')
n=int(input('enter your option:'))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
  r=a-b
  print(r)
elif(n==3):
  r=a/b
  print(r)
elif(n==4):
  r=a*b
  print(r)
else:
    print('wrong input')

enter first number:6
enter second number:8
select operation:
1.addition:
2.subtraction:
3.division:
4.multiplication:
enter your option:4
48

In [ ]:
num = int(input("enter the number:"))
c=0
i=1
while(i<=num):
 if num%i==0:
   c=c+1
 i=i+1
if c==2:

        print( "number is prime")
else:
    print(" number is not a prime")

enter the number:1
 number is not a prime

In [ ]:
year=int(input("enter the number:"))
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
  print(" not leap year")

enter the number:2023
 not leap year

In [ ]:
a=int(input("enter the number:"))
s=0
for i in range(0,a+1):
  s=s+i
print("the sum is:",s)

enter the number:12
the sum is: 78

In [ ]:
list=[1,5,3,14,25,21]
s=0
for i in list :
  s=s+i
print("the sum is:",s)

the sum is: 69

In [ ]:
str= input("enter the string:")
print(len(str))
print(len(str)//2)

enter the string:computer science
16
8

In [ ]:
string1=input("enter the first string:")
string2=input("enter the second string:")
newstring = string1+" "+string2
print("sum of the two strings are:",newstring)
print(len(newstring))

enter the first string:fathima
enter the second string:fathimasalim
sum of the two strings are: fathima fathimasalim
20

In [ ]:
list = [19,32,10,55,31,32,94,29,10,65,77,40,40]
list.remove(32)
while 40 in list :
    list.remove(40)
del list[5]
list[8]=300
list[2]+=200
print("the final list is:",list)
print("length of final list:",len(list))
print("maximum value:",max(list))
print("the sum of final list is:",sum(list))

the final list is: [19, 10, 255, 31, 32, 29, 10, 65, 300]
length of final list: 9
maximum value: 300
the sum of final list is: 751

In [ ]:
t1 = ('78','45','32','19','82','77','40','39')
list1 = list(t1)
list1[2]=100
print(list1)

['78', '45', 100, '19', '82', '77', '40', '39']